Flask==3.0.3
requests==2.32.3
beautifulsoup4==4.12.3
Pillow==10.4.0
urllib3==2.2.3
backgroundremover==0.2.2
opencv-python==4.10.0.84
openai==1.47.0
transformers==4.44.2
tokenizers==0.19.1 --index-url https://pypi.org/simple
torch==2.5.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.20.0 --index-url https://download.pytorch.org/whl/cpu
numpy==1.26.4
gunicorn==23.0.0
